body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
    background-image: url("/images/background-curls.png");
    background-repeat: repeat;
    color: #706f71;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

form {
    margin: 0 auto;
    border: none;
}

.main {
    display: block;
    text-align: center;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    padding: 5px;
    max-width: 700px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/**
* 2.1 Header
*/
#header {
	border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 11;
}

.header-top {
  z-index: 9;
  position: relative;
}
.header-top-inner {
  max-width: 1803px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.header-top-inner.container {
  max-width: 1200px;
}
.header-top .logo {
  width: 100%;
  align-self:center;
}
#side-header {
  width: 34%;
  border-right:1px solid;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9;
  left: 0;
}
#side-header .socials-block .social-icons {
  margin-bottom: 25px;
}
body.header-version2 .vc_row[data-vc-full-width] {
  max-width: 100%;
  left: auto !important;
}
body.header-version2 #main {
  margin: 0 auto;
  max-width: 1270px;
}
#side-header .overlay-bg {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.75);
  padding: 20px 40px 30px;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  overflow: auto;
}
body.header-version2 {
  padding-left: 34%;
}
#mobile-header-block {
  display: none;
  z-index: 9999;
  width: 100%;
  top: 0%;
  position: relative;
}
#mobile-header {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  min-height: 55px;
}
#mobile-header > div {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0px 30px;
    min-height: 55px;
}
#mobile-header .search-link {
  width: 21px;
  height: 30px;
  line-height: 32px;
}
#mobile-header .search-link a i {
  font-size: 18px;
}
.admin-bar #mobile-header-block {
  
}
#mobile-header .logo {
  float: left;
}
.button.square {
  border-radius: unset !important;
}
.widget_newsletterwidget,
.widget_malinasubscribe,
.widget_mc4wp_form_widget {
  border: 2px solid #ce8460;
  padding: 25px 18px 32px;
  background-image: url(images/subscribe_bg.png);
  background-repeat: no-repeat;
  background-position: 100% 8px;
  background-color: #fff;
}
.widget_malinasubscribe .widget-title.separator:after,
.widget_mc4wp_form_widget .widget-title.separator:after,
.widget_newsletterwidget .widget-title.separator:after {
  display: none;
}
.widget_malinasubscribe .widget-title.separator,
.widget_mc4wp_form_widget .widget-title.separator,
.widget_newsletterwidget .widget-title.separator {
  padding-bottom: 0;
}
.widget_mc4wp_form_widget .mc4wp-form-fields p:last-child {
  text-align: center;
}
.widget_mc4wp_form_widget .mc4wp-form-fields p:first-child label {
  display: none;
}

.widget_newsletterwidget .tnp.tnp-widget {
  position: relative;
}

.widget_newsletterwidget .tnp-widget input[type=submit] {
  background-color: transparent;
  position: absolute;
  z-index: 2;
  width: 42px;
  height: 42px;
  font-size: 0px;
  text-indent: -9999px;
  border: 0;
}
.widget_newsletterwidget .tnp-field.tnp-field-button {
  position: relative;
  background-color: #ce8460;
  width: 42px;
  height: 42px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}
.widget_newsletterwidget .tnp-field.tnp-field-button:after {
  content: "\f2a8";
  font-family: "LineAwesome";
  font-size: 20px;
  color: #fff;
  z-index: 1;
  position: absolute;
  top: 12px;
  left: 13px;
  line-height: 1em;
}
.widget_newsletterwidget .tnp-field.tnp-field-email {
  margin-bottom: 0;
}
.widget_newsletterwidget .tnp-field.tnp-field-email label {
  display: none;
}
.widget_newsletterwidget .tnp-field.tnp-field-email input {
  padding-right: 52px !important;
  padding-left: 10px !important;
}
.subscribe-popup {
  background-color: #f5f5f5;
  position: absolute;
  padding: 25px 25px 20px;
  top: 0;
  z-index: 99;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.15);
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.15);
  display: none;
}
.widget_malinasubscribe .newsletter-form {
  display: flex;
}
.widget_malinasubscribe .newsletter-submit {
  width: 42px;
}
.widget_malinasubscribe .newsletter-submit button {
  background-color: #ce8460;
  z-index: 2;
  width: 42px;
  height: 42px;
  font-size: 20px;
  text-align: center;
  border: 0;
  padding: 0;
  border-radius: 0;
}
.subscribe-popup a.close-button {
  color: #1c1d1f;
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 15px;
}
#footer-custom .mc4wp-form-fields {
  display: flex;
  align-items:center;
  justify-content:center;
}
.mc4wp-form-fields input[type="text"],
.mc4wp-form-fields input[type="email"] {
}
.mc4wp-form-fields button[type="submit"] {

}

.mc4wp-form-fields button[type="submit"] i {
    font-size: 18px;
    padding-left: 5px;
    margin-top: -4px;
    position: relative;
    top: 2px;
}
.subscribe-popup .mc4wp-form-fields label {
  font-family: "Roboto";
  font-size: 11px;
  text-transform: uppercase;
  color: #1c1d1f;
  letter-spacing: 2.5px;
  margin-bottom: 10px;
  display: inline-block;
}
.header-top .subscribe-button-block,
.header-top .socials-block,
.header-top .search-and-open {
  width: 20%;
}

.logo {
  position: relative;
  z-index: 2; 
  font-family: 'Nothing You Could Do';
}
#mobile-header .logo {
  z-index: 8;
}
#header .logo {
  padding: 40px 0 35px 0;
  text-align: center; 
}
#header.header-custom .logo {
  padding: 0;
  text-align: left;
  height: 100%;
  display: flex;
  align-items: center;
}
#header.header-custom .container > .vc_row {
  margin-left: 0;
  margin-right: 0;
}
.logo .logo_text {
  font-size: 18px;
  line-height: 1.3em;
  color: #1c1d1f;
  transition:all 0.4s ease;
}
.admin-bar #side-header {
  top: 32px;
}
#side-header .logo {
  padding: 30px 0;
}

#header .logo img {
  transition:all 0.4s ease;
  max-width: 100%;
}
#header.header5 .logo img {
  transition:none;
}
#header.header4.header-scrolled .logo img,
#header.header5.header-scrolled .logo img,
#header.header-custom.header-scrolled .logo img {
  max-width: 50%;
}
#header.header5 .logo .logo_text,
#header.header4 .logo .logo_text {
  line-height: 1em;
}
#header.header4 .logo .logo_text {
  margin-bottom: 0;
}
ul li.menu-item-logo {
  padding: 0;
  line-height: 1em;
  vertical-align: middle;
}
.header-top {
  border-bottom: 1px solid #e5e5e5;
}
#header.header8 .header-top,
#header.header8 {
  border-bottom: 0 !important;
}
#header.header8 .container:not(.header-fullwidth) #navigation-block {
  border-bottom: 4px solid #323436;
  justify-content:space-between;
}
#header.header8 #navigation-block.fixed-nav {
  padding-left: 15px;
  padding-right: 15px;
}
#header.header8 #navigation-block.fixed-nav {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    left: auto !important;
} 
#header.header8 .header-fullwidth #navigation-block.fixed-nav {
  left: 0 !important;
  right: 0;
}
#header.header8 .header-fullwidth #navigation-block.fixed-nav:after {
  border-bottom: inherit;
  content: "";
  height: 100%;
  position: absolute;
  left: -50%;
  right: -50%;
  top: 0;
  z-index: -1;
  background: #fff;
}
#header.header8 .search-link {
  position: static;
  top: auto;
  right: auto;
}
#header.header8 .header-top-inner {
  padding-left: 0;
  padding-right: 0;
}
#header.header8 .logo {
  padding: 49px 0 22px 0;
}
#header.header8 #navigation-block .search-and-open {
  text-align: right;
}
#header.header8 #navigation-block .search-and-open > div {
  display: inline-block;
}
#header.header8 .search-link a {
  padding: 0;
  font-size: 21px;
  display: inline-block;
  width: auto;
}
#header.header8 .menu > li > a {
    padding-top: 20px;
    padding-bottom: 30px;
}
#header.header8 .socials-block {
  position: fixed;
  top: 260px;
  left: 29px;
}
#header.header8 {
  z-index: 9988;
}
#header.header8 .socials-block li {
  display: block;
  margin:0 0 7px 0;
  line-height: 1;
  height: auto;
}
#header.header8 .socials-block li a i {
  color: inherit;
  font-size: inherit;
}
#header.header8 .socials-block li a {
  border: 1px solid #dddee0;
  background-color: #fff;
  border-radius: 100%;
  width: 44px;
  height: 44px;
  line-height: 42px;
  font-size: 15px;
  color: #1c1d1f;
  display: inline-block;
  text-align: center;
}
#header.header8 #navigation-block .hidden-area-button,
#header.header8 #navigation-block .search-and-open {
  padding-right: 0;
  width: 10%;
}
#header.header8 #navigation-block
#header.header5.fixed-nav .header-top {
  border-bottom: 0 !important;
}
#header.header8 #navigation-block #navigation {
  width: 100%;
}
#header.header4 .logo {
  text-align: left;
  padding: 34px 0 34px 0px;
  display: flex;
}
#header.header5 .menu-item-logo .logo {
  padding: 22px 30px;
}
#header.header4 > .container > .span12  {
  display: flex;
  align-items:stretch;
  position: relative;
  justify-content:space-between;
}
#header.header4 .logo,
#header.header4 .social-icons-block {
  width: 20%;
  display: flex;
  align-items:center;
}
#header.header4 .social-icons-block {
  justify-content:flex-end;
}
#header.header4 .social-icons-block > div:nth-child(2){
  padding-left: 28px;
  position: relative;
  margin-left: 28px;
}
#header.header4 .social-icons-block > div:nth-child(2):before {
  content: "";
  width: 0;
  height: 13px;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}
#header.header4 .social-icons {
  overflow: hidden;
  height: 100%;
}
#header.header4 .social-icons ul {
  display: table;
  height: 100%;
  float: right;
}
#header.header4 .social-icons ul li {
  display: table-cell;
  vertical-align: middle;
  padding-left: 28px;
  height: auto;
  line-height: 1em;
}
#header.header4 #navigation-block {
  width: auto;
}
#header.header5 #navigation-block {
  width: 100%;
}
header#header.header6 {
    position: absolute;
    left: 0px !important;
    right: 0px !important;
    top: 0px;
    width: auto !important;
}
.admin-bar header#header.header6 {
  top: 32px;
}
.container.header-fullwidth {
  max-width: none !important;
  padding: 0 25px;
}
.container.header-fullwidth .span12 {
  padding: 0;
}
header#header.header6.fixed-nav {
  left: 0px !important;
  right: 0px !important;
}
#header.header-custom #navigation-block .wp-megamenu-wrap,
#header.header8 .wp-megamenu-wrap,
#header.header8 .wp-megamenu-wrap .wpmm-nav-wrap > ul {
  position: static;
}
#header.header-custom .container > .vc_row {
  position: relative;
}
#header.header-custom .vc_row > .vc_column_container {
  position: static;
}
#header.header4 .container #wp-megamenu-main_navigation {
  text-align: right;
  padding: 0;
  position: static;
}

#header.header5 .container #wp-megamenu-main_navigation {
  text-align: center;
  padding: 0;
  position: static;
}
#header.header4 .wp-megamenu-wrap .wpmm-nav-wrap > ul,
#header.header5 .wp-megamenu-wrap .wpmm-nav-wrap > ul,
#header.header-custom .wp-megamenu-wrap .wpmm-nav-wrap > ul {
  position: static !important;
}
#header.header4 #navigation-block,
#header.header5 #navigation-block  {
  background-color: transparent !important;
}
#header.header1 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu {
    display: block !important;
}
#header.header4 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu,
#header.header4 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu,
#header.header5 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu,
#header.header5 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu,
#header.header-custom #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu,
#header.header-custom #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu {
  top: 100%;
}
#header.header4 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu ul.wp-megamenu-sub-menu,
#header.header4 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu ul.wp-megamenu-sub-menu,
#header.header5 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu ul.wp-megamenu-sub-menu,
#header.header5 #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu ul.wp-megamenu-sub-menu,
#header.header-custom #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_mega_menu>ul.wp-megamenu-sub-menu ul.wp-megamenu-sub-menu,
#header.header-custom #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu ul.wp-megamenu-sub-menu {
  top: 0%;
}
#header.header4 #navigation-block ul.wp-megamenu > li > a,
#header.header4 #navigation-block ul.wp-menu > li > a {
  padding: 8px 23px 8px 20px
}

#header.header5 .menu > li,
#header.header4 .menu > li,
#header.header5 .wp-megamenu > li,
#header.header4 .wp-megamenu > li,
#header.header-custom .menu > li,
#header.header-custom .wp-megamenu > li  {
  display: table-cell;
  vertical-align: middle;
  transition: all 0.4s ease;
}

#header .fullwidth {
	padding: 0 85px;
}

#navigation .fullwidth .span12 {
  padding-left: 0;
  padding-right: 0;
}

#header-main.fixed_header.header-scrolled {
    position: fixed !important;
    z-index: 9400;
    top: 0;
    right: 0;
    left: 0;
}

#header-main:not(.fixed_header) .logo_main img {
  height: auto !important;
}

.admin-bar #header-main.fixed_header.header-scrolled {
    top: 32px;
}

.my-table {
	display: table;
	vertical-align: middle;
	width: 100%;
}

.my-tr {
	display: table-row;
}

.my-td {
	display: table-cell;
	float: none;
  vertical-align: middle;
}

.social-icons {
	overflow: hidden;
}

.social-icons .unstyled li {
	display: inline;
	display: inline-block;
	margin-right: 18px;
  color: inherit;
}
.social-icons li span {
  display: none;
}
.social-icons.big_icon_text li {
  margin: 0;
  padding: 0 15px;
  width: 20%;
  min-width: 137px;
  text-align: center;
}
.social-icons.big_icon_text li a {
  display: block;
  width: 107px;
  height: 107px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  color: #000;
  letter-spacing: normal;
  margin: 0 auto 20px;
  transition:all 0.4s ease;
}
.social-icons.big_icon_text li a i,
#footer .social-icons.big_icon_text li a i {
  color: inherit;
  font-size: 50px;
  line-height: 107px;
}
.social-icons.big_icon_text li a:hover {
  color: #fff;
}
.social-icons.big_icon_text li.social-facebook a:hover {
  background-color:#3b5999;
}
.social-icons.big_icon_text li.social-twitter a:hover {
  background-color:#55acee;
}
.social-icons.big_icon_text li.social-instagram a:hover {
  background-color:#e4405f;
}
.social-icons.big_icon_text li.social-linkedin a:hover {
  background-color:#0077B5;
}
.social-icons.big_icon_text li.social-youtube a:hover {
  background-color:#cd201f;
}
.social-icons.big_icon_text li span {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.social-icons .unstyled li:last-child {
  margin-right: 0;
}

#before-footer .social-icons li {
  margin: 0 18px 10px;
}

#before-footer .social-icons {
  text-align: center;
}

#back-to-top {
  position: fixed;
  bottom: 60px;
  right: 65px;
  z-index: 998;
  width: 40px;
  height: 40px;
  line-height: 36px;
  display: none;
}
#back-to-top a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: inherit;
  text-align: center;
  background-color: #b5b8b9;
  border:2px solid #fff;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

#back-to-top:hover a:after {
  border-width: 3px;
}
.social-icons li a {
	color: #1d1f20;
	font-size: 11px;
  text-transform: uppercase;
  font-family: "Montserrat";
  letter-spacing: 1px;
}

.social-icons li a span {
  display: block;
}
.social-icons li a i {
  line-height: inherit;
  font-size: 13px;
}

#header .social-icons {
  text-align: right;
}

#header .social-icons li {
  height: 54px;
  line-height: 52px;
  margin-right: 28px;
}
#header .social-icons li:last-child {
  margin-right: 0;
}
#header .social-icons li a {
  color: #1f2122;
}

.social-icons li a:hover {
    color: #a5b8c0;
}
.hidden-area-button {
  display: flex;
  align-items:center;
  padding-right: 64px;
}
.header4 .hidden-area-button a:after {
  height: 13px;
  content: "";
  display: block;
  width: 0;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  left: 49px;
  top: 0;
}
.hidden-area-button a.open-hidden-area {
  width: 18px;
  height: 13px;
  display: block;
  color: #6a6b6c;
  padding-bottom: 3px;
  position: relative;
}
.hidden-area-button a.open-hidden-area span {
  display: block;
  height: 0px;
  border-bottom: 2px solid;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  transition:all .3s ease-out;
  opacity: 1;
  left: 0;

}
.hidden-area-button a.open-hidden-area span.line-1 {
  top: 0px;
}
.hidden-area-button a.open-hidden-area span.line-2 {
  top: 6px;
  left: 50%;
  transform:translateX(-50%);
}
.hidden-area-button a.open-hidden-area span.line-3 {
  bottom: 0px;
}
.hidden-area-button a.open-hidden-area.opened span.line-2 {
  opacity: 0;
  width: 0;
} 
.hidden-area-button a.open-hidden-area.opened span.line-1 {
  transform:rotate(45deg);
  top: 50%;
  margin-top: -2px;
}
.hidden-area-button a.open-hidden-area.opened span.line-3 {
  transform:rotate(-45deg);
  bottom: 50%;
}
#hidden-area-widgets {
  z-index: 9999;
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  background-color: rgba(29, 29, 31, 0.55);
  visibility: hidden;
  opacity:0;
  transition:opacity .5s ease-out;
}
#hidden-area-widgets .widgets-side {
  width:350px;
  z-index: 999;
  position: absolute;
  background-color: #fff;
  height: 100%;
  height: 100vh;
  padding: 90px 40px 70px;
  display: flex;
  flex-direction:column;
  box-shadow:0px 0px 10px 0px rgba(149, 161, 158, 0.7);
  opacity: 0;
  left: -150px;
  transition:all .5s ease-out;
}

#hidden-area-widgets.opened .widgets-side {
  opacity: 1;
  left: 0;
  overflow-y:auto;
}
#hidden-area-widgets.opened {
  visibility: visible;
  opacity: 1;
}
#hidden-area-widgets .logo {
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  padding-bottom: 35px;
  background-image: linear-gradient(to right,#bbc4c7 40%,rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
  margin-bottom: 0;
}
#hidden-area-widgets a.close-button {
  display: inline-block;
  position: absolute;
  top: 36px;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 24px;
  line-height: 1em;
}
#hidden-area-widgets .widget {
  margin-bottom: 60px;
}
#hidden-area-widgets .widgets-side .widget:last-child{
  margin-bottom: 30px;
}
#side-header-vertical .search-link {
  width: 100%;
  height: 100px;
  position: relative;
}
#header #navigation-block,
#footer-custom #navigation-block {
  display: flex;
  align-items:center;
  justify-content:flex-end;
}
#footer-custom #navigation-block,
#footer-custom .wpb_wrapper,
#header.header-custom #navigation-block,
#header.header-custom .wpb_wrapper,
#header.header-custom #navigation-block .wp-megamenu-wrap,
#header.header-custom #navigation-block .wpmm-nav-wrap.wpmm-main-wrap-main_navigation {
  height: 100%;
}
#footer-custom .vc_row-o-equal-height .wpb_wrapper,
#header.header-custom .vc_row-o-equal-height .wpb_wrapper {
  height: auto;
}
#header.header4 #navigation-block,
#header.header5 #navigation-block {
  justify-content:center;
}
#header.header4 #navigation-block {
  align-items:stretch;
}

#header .extra-container {
  width:100%;
  max-width: 1803px;
  position: relative;
  margin: 0 auto;
}
#header .search-link a {
  padding: 8px 10px;
  width: 36px;
  text-align: center;
  display: inline-block;
}
#header.header5 .search-link a {
  width: 32px;
}
#header .search-link {
  position: absolute;
  right: 2px;
  top: 12px;
}
#header.header1 .social-icons {
  text-align: left;
}
#header.header7.header1 .social-icons {
  text-align: right;
}
#header.header1 .header-top-inner .search-and-open {
  width: 20%;
  display: flex;
  justify-content:flex-end;
}
#header.header1.header7 .header-top-inner .search-and-open {
  justify-content:flex-start;
}
#header.header1 .header-top-inner .search-and-open > div:nth-child(2),
#header.header1 .header-top-inner .search-and-open > div:nth-child(3) {
  padding-left: 20px;
  margin-left: 20px;
  position: relative;
}
#header.header1 .header-top-inner .search-and-open > div:nth-child(2):before,
#header.header1 .header-top-inner .search-and-open > div:nth-child(3):before {
  height: 13px;
  content: "";
  display: block;
  width: 0;
  border-right: 1px solid #e1e1e1;
  position: absolute;
  left: 0px;
  top: 6px;
}
#header.header1 .search-and-open .my-cart-link i {
  transition:all 0.4s ease;
  font-size: 22px;
  line-height: 26px;
}
#header.header1 .header-top-inner .hidden-area-button {
  padding-right: 0;
}
#header.header1 .header-top-inner .search-link {
  position: static;
  top: auto;
  right: auto;
  
  text-align: right;
}
#header.header1 .header-top-inner .search-link a {
  display: inline-block;
  font-size: 25px;
  width: auto;
  padding: 0;
}
#header.header-custom .search-link a {
  display: inline-block;
  vertical-align: inherit;
  width: 36px;
}
#header.header-custom .search-link {
  position: relative;
  top: auto;
  right: auto;
}
#header.header5 .search-link,
#header.header4 .search-link  {
  position: relative;
  top: auto;
  right: auto;
}
#header.header5 #navigation {
  display: flex;
  justify-content:center;
}
#header.header5 #navigation .menu {
  display: block;
}

.search-area {
  position: fixed;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items:center;
  visibility: hidden;
  opacity: 0;
  transition:all 0.4s ease-out;
}

.search-area.opened {
  visibility: visible;
  opacity: 1;
}
.search-area .close-search {
  position: absolute;
  right: 95px;
  top: 95px;
  font-size: 22px;
  color: #2c2e30;
}
.search-area input#header-s,
.search-area input#header-mobile-s {
  border: 1px solid #ce8460;
  color: #444b4d;
  font-size: 18px;
  font-weight: 400;
  padding: 17px 76px 17px 30px;
}
.search-area form {
  position: relative;
}
.search-area form button {
  background-color: #ce8460;
  width: 55px;
  height: calc(100% - 4px);
  line-height: 50px;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 22px;
  text-align: center;
  padding: 0;
  border-radius: 0;
  border: 0;
}

.search-area #search-list {
  padding: 25px 20px 20px;
  background-color: #fff;
  z-index: 999999;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(3,3,3,.15);
  box-shadow: 0 2px 5px 0 rgba(3,3,3,.15);
  border: 1px solid #e8e8e8;
}

.search-area #search-list ul {
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 20px;
  margin-right: -8px;
  margin-left: -8px;
}

.search-area #search-list ul li {
  width: 25%;
  padding: 5px 10px 15px;
  overflow: hidden;
}
.search-area #search-list ul li figure {
  margin-bottom: 15px;
}
.search-area #search-list ul li figure .label-date {
  top: 0;
}
.search-area #search-list ul li.post {
  text-align: center;
  margin-bottom: 0;
}
.search-area #search-list ul li.post .meta-categories {
  margin-bottom: 5px;
  display: none;
}
.search-area #search-list ul li.post .post-meta {
  justify-content:center;
}
.search-area #search-list ul li.post .extra-wrap {
  color: #222;
}
.search-area #search-list ul li figure img {
  width: 100%;
  height: auto;
}
.search-area #search-list a.button {
  color: #222;
  background-color: #fff;
}
.search-area #search-list ul li.post .title h3 {
  margin-bottom: 5px;
  font-size: 16px;
}
#side-header-vertical .search-link form {
  width: 348px;
  padding: 0px;
  position: absolute;
  left:-250px;
  transition:all 0.3s ease-in;
}
#side-header-vertical .search-link:hover form {
  left: 0;
}

#side-header-vertical input#header-s {
	border: 0;
	color: #fff;
	padding: 0px 110px 0 10px;
  margin: 0;
  height: 100px;
  line-height: 100px;
  width: 100%;
  overflow: hidden;
	background-color: #fff;
}
#side-header-vertical .search-link:hover input#header-s {
  border:1px solid #e5e6e8;
  border-left: 0;
}
#side-header-vertical .search-link:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 99px;
  height: 1px;
  background-color: #fff;
  z-index: 9;
}
#side-header-vertical .search-link button {
  width: 98px;
  height: 98px;
  position: absolute;
  right: 1px;
  top: 1px;
  border-radius: 0;
  background-color: #fff;
  color: #16181a;
}
#side-header-vertical .search-link button i {
  font-size: 22px;
}
.overflow-hidden {
	overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.admin-bar.overflow-hidden {
  top: 32px;
}

.pos-relative {
	position: relative;
}
/** 
 * 2.1.1 Breadcrumbs
 */
#breadcrumbs {
  padding: 20px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
/** 
 * 2.2 Navigation
 */

#navigation .menu {
  display: inline-block;
}
#navigation-block {
  width: 100%;
}
#header.header4 #navigation .menu,
#header.header4 #navigation-block .wp-megamenu,
#header.header-custom #navigation .menu,
#header.header-custom #navigation-block .wp-megamenu {
    display: table;
    height: 100%;
}
#header.header4 #navigation-block .wpmm-nav-wrap.wpmm-main-wrap-main_navigation {
    height: 100%;
}

#header.header5 .wpmm-nav-wrap.wpmm-main-wrap-main_navigation {
  display: flex;
  justify-content: center;
}
#header.header4 .search-link {
  display: table;
  vertical-align: middle;
  height: 100%;
}
#header .search-link a {
  display: table-cell;
  vertical-align: middle;
}
.fixed-nav {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  transition: height 0.4s ease-out;
}
.fixed-nav.header-scrolled {
  border-bottom: 1px solid #e5e5e5 !important;
}
.before-fixed-nav {
  top: -100% !important; 
}
#header.header1.fixed-nav .header-top {
  display: none;
}
#header.header1.header7.fixed-nav .header-top {
  display: block;
}
#header.header1.header7 #logo-block {
  transition:height 0.3s ease-out;
}
#header.header1.header7.fixed-nav #logo-block {
  height: 0;
  overflow: hidden;
  padding: 0;
}
.admin-bar .fixed-nav {
  top: 32px !important;
}
.header1 #navigation {
	padding: 0 15px;
  text-align: center;
}

.header1 #navigation .menu .sub-menu {
  overflow: hidden;
}
.header1 #navigation .menu li:hover .sub-menu {
  overflow: visible;
}
.menu {
	display: inline-block;
	margin: 0;
	padding: 0 15px;
	list-style: none;
}

.menu > li {
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.side-navigation .menu > li {
  display: block;
  text-align: center;
}
#footer-nav.menu {
  padding-top: 25px;
  padding-bottom: 25px;
}
#footer-nav.menu > li {
  padding: 10px 15px 5px;
}
.header2 .menu > li {
  padding: 0 20px;
}

.menu li a {
	text-decoration: none;
	color: #a29fa6;
	text-transform: uppercase;
	font-size: 13px;
	font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 1.5px;
}
#navigation.side-navigation, #side-header .socials-block {
  padding: 35px 0;
}
#side-header-vertical {
  width: 100px;
  height: 100%; 
  height: 100vh;
  background-color:#fff;
  border-right: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999; 
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;  
}
#side-header-vertical .logo {
  padding: 30px 0;
  text-align: center;
}
.admin-bar #side-header-vertical {
  top: 32px;
}
.side-bg > div {
  background-repeat: no-repeat !important;
  background-position: center top !important;
  position: static;
}
#navigation.vertical .menu > li > a {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  padding: 20px 38px;
  color: #8d9196;
  font-size: 12px;
}
#navigation.vertical .menu > li > a.my-cart-link {
  transform:rotate(-90deg);
}
#navigation-block ul.wp-megamenu .my-cart-link {
  font-size: 20px !important;
  padding: 0 !important;
  line-height: 30px !important;
}
#navigation-block ul.wp-megamenu .my-cart-link:hover {
  color: #fff !important;
}
#navigation.vertical li ul {
  left: 100%;
  top: 20px;
  background-color:#16181a;
}
#navigation.vertical .menu li ul li a {
  color: #8d9196;
}
#navigation.vertical .menu > li > a:after,
#navigation.vertical .menu > li > a:before {
  display: none !important;
}
#navigation.vertical .menu { 
    display: flex;
    flex-direction: column-reverse;
}

#navigation.vertical .menu > li {
    flex: 0 0 auto;
}
body.header-version3 {
  padding-left: 100px;
}
#navigation.side-navigation .menu li a {
  color: #5a595c;
}
.menu > li > a {
  padding: 20px 23px 20px 20px;
  display: inline-block;
}
#navigation.side-navigation .menu > li > a {
  padding: 20px 23px 20px 20px;
  position: relative;
}
#navigation-block ul.wp-megamenu > li > a {
  position: relative;
  display: inline-block;
  padding: 20px 23px 20px 20px;
}
.widget_nav_menu .menu > li > a {
  padding: 0;
}
.widget_nav_menu .menu > li > a:after,
.widget_nav_menu .menu > li > a:before {
  display: none !important;
}
.widget_nav_menu .menu > li {
  display: list-item;
}
#header .header-fullwidth #navigation-block {
  width: 100%;
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
}
#header.header8 .header-fullwidth #navigation-block {
  margin: 0 auto;
  justify-content:center;
}
#header.header8 .container.header-fullwidth {
  border-bottom: 1px solid #eee;
}
.menu > li > a:after,
.menu > li > a:before,
#navigation-block ul.wp-megamenu > li > a:after,
#navigation-block ul.wp-megamenu > li > a:before {
  content: "." !important;
  height: 10px;
  width: 2px;
  line-height: 10px;
  display: block !important;
  position: absolute;
  left: -2px;
  top: 50%;
  margin-top: -9px;
  opacity: 0;
  transform:translateX(15px);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.menu > li > a:after,
#navigation-block ul.wp-megamenu > li > a:after {
  right: -1px;
  left: auto;
  opacity: 0;
  transform:translateX(-15px);
}
.menu > li > a:hover:after,
.menu > .current-menu-item > a:after,
.menu > .current-menu-ancestor > a:after,
#navigation-block ul.wp-megamenu > li > a:hover:after,
#navigation-block ul.wp-megamenu > li:hover > a:after,
#navigation-block ul.wp-megamenu > li.current-menu-item > a:after,
#navigation-block ul.wp-megamenu > li.current-menu-ancestor > a:after,
.menu > li > a:hover:before,
.menu > .current-menu-item > a:before,
.menu > .current-menu-ancestor > a:before,
#navigation-block ul.wp-megamenu > li > a:hover:before,
#navigation-block ul.wp-megamenu > li:hover > a:before,
#navigation-block ul.wp-megamenu > li.current-menu-item > a:before,
#navigation-block ul.wp-megamenu > li.current-menu-ancestor > a:before {
  transform:translateX(0);
  opacity: 1;
}

.menu:hover > .current-menu-item > a:after,
.menu:hover > .current-menu-ancestor > a:after,
#navigation-block ul.wp-megamenu:hover>li.current-menu-item>a:after,
#navigation-block ul.wp-megamenu:hover>li.current-menu-ancestor>a:after {
  transform:translateX(15px);
  opacity: 0;
}

.menu:hover > .current-menu-item > a:before,
.menu:hover > .current-menu-ancestor > a:before,
#navigation-block ul.wp-megamenu:hover>li.current-menu-item>a:before,
#navigation-block ul.wp-megamenu:hover>li.current-menu-ancestor>a:before {
  transform:translateX(-15px);
  opacity: 0;
}

.menu:hover > .current-menu-item:hover > a:after,
.menu:hover > .current-menu-ancestor:hover > a:after,
#navigation-block ul.wp-megamenu:hover>li.current-menu-item:hover>a:after,
#navigation-block ul.wp-megamenu:hover>li.current-menu-ancestor:hover>a:after,
.menu:hover > .current-menu-item:hover > a:before,
.menu:hover > .current-menu-ancestor:hover > a:before,
#navigation-block ul.wp-megamenu:hover>li.current-menu-item:hover>a:before,
#navigation-block ul.wp-megamenu:hover>li.current-menu-ancestor:hover>a:before {
  transform:translateX(0px);
  opacity: 1;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu li {
  padding: 0 20px;
}
#navigation-block .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_dropdown_menu ul.wp-megamenu-sub-menu li > a {
  padding: 9px 0;
}
ul.wp-megamenu li ul.wp-megamenu-sub-menu .wpmm-vertical-tabs-nav ul li.active a{border: 0 !important;}
ul.wp-megamenu li ul.wp-megamenu-sub-menu .wpmm-vertical-tabs-nav ul li.active {
  background-color: #fff !important;
}

#navigation-block .wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li.wpmm-row > ul.wp-megamenu-sub-menu > li {
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu li > a:hover,
.menu .current-menu-item > a,
.menu .current-menu-ancestor > a {
  color: #a5b8c0;
}
/** 
 * 2.2.1 Hidden side menu
 */
#navigation-block ul.wp-megamenu li ul.wp-megamenu-sub-menu .wpmm-vertical-tabs-nav ul li {
  padding: 0 !important;
  border: 0 !important;
}
#navigation-block .wpmm-vertical-tabs-content {
  padding: 13px 25px 14px 15px !important;
}
#navigation-block .wpmm-vertical-tabs-nav {
    max-width: 16.411%;
    width: auto;
    border-right: 0;
}
#navigation-block .wpmm-vertical-tabs-content {
  width: 83.589%;
}
#navigation-block ul.wp-megamenu li ul.wp-megamenu-sub-menu .wpmm-vertical-tabs-nav ul {
  padding:14px 0;
}
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li ul.wp-megamenu-sub-menu .wpmm-tab-btns li a {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 9px 25px;
  text-align: left;
  border: 0 !important;
}
#navigation-block .wpmm-grid-post-img {
  height: 161px;
}
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu h4.grid-post-title a {
  padding: 0 !important;
  
}
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu h4.grid-post-title,
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu h4.grid-post-title a {
  margin: 0;
  text-align: center;
  font-weight: normal;
  padding-top: 20px; 
  font-family: 'Montserrat' !important;
  letter-spacing: 0px;
  font-size: 16px;
  line-height: 1.4em;
}
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li ul.wp-megamenu-sub-menu .wpmm-tab-btns li a:before {
  border-color: transparent;
}

#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu .meta-date {
  color: #9e9e9e;
  margin-bottom: 0;
  font-size: 11px;
  padding-top: 5px;
}
.wp-megamenu .wpmm-grid-post-content {
  margin-bottom: 12px;
}
#navigation-block .menu-item,
#navigation-block .menu-item .wpmm-row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#navigation ul {
  -webkit-font-smoothing:antialiased;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navigation li {
  padding: 0px;
  margin: 0px;
  position: relative;
    
}

#navigation li ul li {
  max-height: 0;
  height: auto;
  padding: 0;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

#navigation li ul {
    padding:5px 0px; 
    float: left;
    background-color: #ffffff;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    text-align: left;
    z-index: 1;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    
}
#navigation.side-navigation li ul {
  left: 0;
  padding: 0;
}
#navigation.side-navigation li ul li {
  padding: 0 20px;
}
#navigation.side-navigation li:hover > ul ul {
    top: 100%;
    border-top: 1px solid #a29fa6;
    margin-left: 0;
}
#navigation-block .wp-megamenu li.menu-item > .wp-megamenu-sub-menu {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
}
#navigation ul ul ul {
  top: 0%;
  left: 100%;
  margin-left: 1px;
}

#navigation li:hover > ul {
    opacity: 1;
    visibility: visible;
}

#navigation li:hover > ul li {
  max-height: 100%;
}

#navigation li:hover > ul ul {
    top: 0%;
}

#navigation li ul li {
    float: none;
    min-width: 206px;
    margin: 0;
    padding: 0 20px;
}
.wp-megamenu-wrap .wp-megamenu li .wp-megamenu-sub-menu li {
  padding: 0;
}
#mobile-header #dl-menu {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
#mobile-header .dl-menuwrapper li a {
  border: 0;
  background-image: linear-gradient(to right, #bbc4c7 40%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 7px 1px;
  background-repeat: repeat-x;
}
#mobile-header .dl-menuwrapper li.dl-back > a {
  background-color:transparent;
}
#mobile-header .dl-menuwrapper li.dl-back:after {
  color:inherit;
}
#mobile-header .dl-menuwrapper .dl-menu {
  border-bottom: 0;
}
#navigation .menu li ul li a,
.wp-megamenu-wrap .wp-megamenu li .wp-megamenu-sub-menu li > a {
  color: #1c1d1f;
  font-weight: 300;
  display: block;
  min-height: 40px;
  padding: 9px 0;
  height: auto;
  line-height: 22px !important;
  text-transform: none;
  font-size: 13px;
  background-image: linear-gradient(to right, #bbc4c7 40%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
  max-width: 176px;
  letter-spacing: normal;
  margin-bottom: 0;
  font-weight: normal !important;
}
#navigation .menu li ul li.menu-item-has-children:after,
.wp-megamenu .wp-megamenu-sub-menu li.menu-item-has-children:after {
  content: "\f112";
  position: absolute;
  right: 20px;
  font-family: "LineAwesome";
  font-size: 13px;
  position: absolute;
  right: 18px;
  top: 6px;
}
.wp-megamenu .wp-megamenu-sub-menu li.menu-item-has-children:after {
  right: 20px;
  top: 5px;
}
.wp-megamenu-wrap .wp-megamenu > li > .wp-megamenu-sub-menu > li > a {
  padding: 9px 0 !important;
}
#navigation .menu li ul li a:before,
.wp-megamenu-wrap .wp-megamenu li .wp-megamenu-sub-menu li > a:before {
  content: "";
  width: 1px;
  height: 100%;
  border-left: 2px solid transparent;
  position: absolute;
  left: 0px;
  top: 0;
}
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap .wp-megamenu>li>ul.wp-megamenu-sub-menu li.wpmm-type-widget>a {
  height: 40px;
  text-transform: none;
  font-size: 14px;
  background-image: linear-gradient(to right, #bbc4c7 40%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
  max-width: 176px;
  letter-spacing: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap .wp-megamenu>li>ul.wp-megamenu-sub-menu li.wpmm-type-widget {
  margin-bottom: 0;
}
.wp-megamenu-wrap .wpmm-nav-wrap > ul.wp-megamenu > li.wpmm_mega_menu > ul.wp-megamenu-sub-menu > li.wpmm-row > ul.wp-megamenu-sub-menu > li.wpmm-col .textwidget {
  padding-top: 20px !important;
}
#navigation .menu li ul li:last-child > a,
.wp-megamenu-wrap .wp-megamenu li .wp-megamenu-sub-menu li:last-child > a,
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap .wp-megamenu>li>ul.wp-megamenu-sub-menu li.wpmm-type-widget:last-child > a  {
  background-image: none;
}

#navigation .menu li ul li a:hover,
#navigation .menu li ul .current-menu-item > a,
#navigation .menu li ul .current-menu-ancestor > a {
    color: #aaadad;
}
#navigation .menu li ul li a:hover:before,
#navigation .menu li ul .current-menu-item > a:before,
#navigation .menu li ul .current-menu-ancestor > a:before,
.wp-megamenu-wrap .wp-megamenu li .wp-megamenu-sub-menu li > a:hover:before,
.wp-megamenu-wrap .wp-megamenu li .wp-megamenu-sub-menu li.current-menu-item > a:before,
.wp-megamenu-wrap .wp-megamenu li .wp-megamenu-sub-menu li.current-menu-ancestor > a:before,
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li ul.wp-megamenu-sub-menu .wpmm-tab-btns li.active a:before {
  border-color:#ce8460;
}

#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li ul.wp-megamenu-sub-menu .wpmm-tab-btns li {
  position: relative;
  min-width: 197px;
}

#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li ul.wp-megamenu-sub-menu .wpmm-tab-btns li.active:before {
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  left: 15px;
  right: 0;
  display: block;
  background-image: linear-gradient(to right, #bbc4c7 40%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
}
#navigation-block #wp-megamenu-main_navigation>.wpmm-nav-wrap ul.wp-megamenu>li ul.wp-megamenu-sub-menu .wpmm-tab-btns li.active:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 0;
  background-image: linear-gradient(to right, #bbc4c7 40%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 7px 1px;
  background-repeat: repeat-x;
}
.cart-main.menu-item {
  float: right;
  margin-left: 15px;
}

/* mobile menu */
#dl-menu .menu-item[class*="fa-"]:before {
    content: "";
    display: none;
}

/* 
 * 2.3 Hidden side menu
 */

.menu-hidden-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 9999;
	display: none;
}

.admin-bar .menu-hidden-container {
	top: 32px;
}

nav#hidden-nav {
	width: 499px;
	background-color: #fff;
	padding: 200px 60px 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -500px;
	overflow: auto !important;
  text-align: center;
}

nav#hidden-nav .widget {
  max-width: 258px;
  margin: 0 auto;
}

nav#hidden-nav .menu-button-close {
  font-size: 34px;
  color: #000;
  width:36px;
  text-align: center;
  display: block;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -18px;
}

#hidden-nav .menu {
	display: block;
}

#hidden-nav .menu > li {
	padding: 0 0 30px 0;
	float: none;
	text-align: center;
}

#hidden-nav .menu > li a {
	font-size: 14px;
	text-transform: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

#hidden-nav .menu .current-menu-item a,
#hidden-nav .menu li a:hover {
	color: #949898;
}
#hidden-nav .menu .sub-menu {
  text-align: left;
  margin-left: 0;
}

#hidden-nav .about-me > p {
  margin-bottom: 35px;
}

#hidden-nav .social-icons li a {
  color: #1c1d1f;
  font-size: 15px;
}

#hidden-nav .social-icons li a i {
  font-size: inherit;
}

nav#hidden-nav .widget {
  margin-bottom: 25px;
}

#hidden-nav .widget.widget_nav_menu {
  margin-bottom: 50px;
}
.widget_nav_menu .menu {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
}
.widget_nav_menu ul.menu li {
  position:static;
}
.widget_nav_menu ul.menu li {
  padding: 9px 0 10px 0;
  float: none;
  margin: 0;
  border-top: 1px dashed;
  border-color: rgba(0,0,0,0.1);
}
#hidden-nav .widget_nav_menu ul.menu li {
  border-color: rgba(235,235,235,0.2);
}
.widget_nav_menu ul li:first-child {
  border-top: none;
  padding-top: 0;
}
.widget_nav_menu ul.menu li.menu-item-has-children:after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-size: 13px;
  display: block;
  width: 15px;
  text-align: right;
  float: right;
  color: #adaaaa;
  cursor: pointer;
  font-weight: 900;
}
.widget_nav_menu > div::-webkit-scrollbar {
    width: 6px;
}
/* Track */
.widget_nav_menu > div {
  padding-right: 10px;
}
.widget_nav_menu > div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
 
/* Handle */
.widget_nav_menu > div::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgba(200,200,200,0.8); 
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}
.widget_nav_menu > div::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(200,200,200,0.4); 
}
#hidden-nav .widget_nav_menu .menu > li a {
  
}
.widget_nav_menu .menu li a {
  text-transform: none;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: normal;
}
.widget_nav_menu .menu .back-to-menu {
  color: #bbbbbb;
  font-size: 13px;
  text-transform: none;
  font-family: inherit;
  cursor: pointer;
}
.widget_nav_menu .menu .back-to-menu:before {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-size: 13px;
  padding-right: 10px;
  font-weight: 900;
}
.widget_nav_menu .menu li.current-menu-item > a,
.widget_nav_menu .menu li a:hover {
  color: #1c1d1f;
}
.widget_nav_menu .menu .sub-menu {
  text-align: left;
  margin-left: 0;
  list-style: none;
}
.widget_nav_menu .menu .sub-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 99;
  background: #fff;
  margin: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#hidden-nav .widget_nav_menu .menu .sub-menu {
  
}
.widget_nav_menu .menu .sub-menu.sub-menu-show {
  display: block;
  webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.widget_nav_menu .menu .sub-menu li.menu-item {
  
}

.widget_nav_menu .menu .sub-menu li {
  margin-left: 0px;
}
#mobile-nav {
  background-color: #fff;
  width: 100%;
  height: 50px;
  border-top: 1px solid #dfdfdf;
  position: fixed;
  z-index: 9999;
  bottom: 0px;
  display: none;
}

#mobile-nav .search-link {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
}

#mobile-nav .search-area {
  top: 0;
  bottom: 50px;
}

#mobile-nav .social-area {
  position: fixed;
  top: 0;
  bottom: 50px;
  width: 100%;
  background-color: #fff;
  left: 0;
  right: 0;
  display: none;
}

#mobile-nav .social-area .social-icons li a {
  font-size: 26px;
  line-height: 32px;
  padding: 0 5px;
}

#mobile-nav .social-area .sharebox {
  position: absolute;
  width: 100%;
  top: 50%;
  margin: -13px 0 0 0px;
  left: 0%;
  text-align: center;
}

#mobile-nav .social-menu-button {
  position: absolute; 
  left: 50%;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 -10px;
}

#mobile-nav .search-link .search-button,
#mobile-nav .social-menu-button .social-button {
  font-size: 20px;
  line-height: 20px;
  color: #222222;
}

#mobile-nav .close-button {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  z-index: 9;
  background-color: #fff;
  display: none;
}

#mobile-nav .icon {
  font-size: 32px;
  display: inline-block;
  line-height: 32px;
  color: #222222;
}

/**


/* Panel Styling*/
.panel {
    border-radius: 10px;
    border: none;
}

.panel-heading {
    color: #fff;
    font-family: 'Molle', 'Leckerli One', cursive;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 125%;
}

.panel-danger>.panel-heading {
    background-color: #ed878d;
    border-color: #ed878d;
    color: #fff;
}

.panel-warning>.panel-heading {
    background-color: #c7c2bb;
    border-color: #a5a29f;
    color: #fff;
}

.panel-success>.panel-heading {
    background-color: #a8cacd;
    border-color: #7fb1b2;
    color: #fff;
}

.panel-primary>.panel-heading {
    background-color: #706f71;
    border-color: #706f71;
    color: #fff;
}

.card-title {
    font-weight: 700;
}

/* Jumbotron Styling */
.jumbotron {
    padding-bottom: 24px;
}
.jumbotron .h1,
.jumbotron h1 {
    font-family: 'Molle', 'Leckerli One', cursive;
    text-align: center;
    color: #ed878d;
}

.jumbotron .h3,
.jumbotron h3 {
    font-family: 'Montserrat';
    font-size: 18px;
    TEXT-ALIGN: center;
    font-weight: 400;
    Text-transform: uppercase;
}

.jumbotron .productname {
    text-align: center;
    padding-top: 24px;
    font-family: 'Molle', 'Leckerli One', cursive;
    font-size: 1.5em;
    text-transform: lowercase;
}

.jumbotron p {
    font-family: 'Montserrat';
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.btn-primary {
    color: #706f71;
    background-color: #ccece5;
    border-color: #abdbd0;
    margin-top: 1em;
}

.btn-secondary {
    color: #fff;
    background-color: #ed878d;
    border-color: #d66974;
    margin: 1em auto 0;

}


h4.card-title {
    font-weight: 700;
}

/* Footer Styling */

.footer {
    background-color: #bce8ea;
    padding: 20px;
    margin-top: 15px;
    border-top: 1px solid #58c5cb;
}

.footer .container {
    display: flex;
    flex-flow: row wrap;
}

.col1 {
    flex: 1;
}

.col2 {
    flex: 2;
    border-left: 1px solid #58c5cb;
    padding: 0 25px;
}

.header {
    color: #58c5cb;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}

.footer p {
    font-size: 1em;
    font-style: italic;
    line-height: 150%;
}

.footer a {
    color: #ed878d;
    display: block;
}

.footer a:hover {
    color: #d36671;
    text-decoration: none;
}

@media screen and (min-width: 768px) {

    .jumbotron .h1,
    .jumbotron h1 {
        font-size: 7.5em;
    }

    .jumbotron .h3,
    .jumbotron h3 {
        font-size: 20px;
    }

    .jumbotron p {
        font-size: 18px;
    }

}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    body {
        padding-top: 25px;
    }

    .jumbotron {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    .jumbotron .h1,
    .jumbotron h1 {
        font-size: 4em;
    }

    .jumbotron .h3,
    .jumbotron h3 {
        font-size: .9em;
        margin-top: 10px;
    }

    .jumbotron p {
        font-size: .9em;
        line-height: 125%;
        margin-bottom: 10px;
    }

    input,
    textarea {
        max-width: 370px;
        width: 100%;
        height: 50%;
    }

    .footer p {
        font-size: .75em;
        font-style: italic;
        line-height: 150%;
        margin-bottom: 0;
    }

}

.uppercase {
    text-transform: uppercase;
}

.container .jumbotron,
.container-fluid .jumbotron {
    border: none;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
