@{
    ViewData["Title"] = "Is It CG?";
}

<div class="jumbotron">
    <h1 class="display-3">Is it CG?</h1>
<h3>Enter the ingredients of your favorite hair product to see if it is Curly Girl (CG) Approved!</h3>
<p>Separate ingredients with a comma and click submit to see the results.</p>
</div>
<div class="main">
<form asp-controller="Home" asp-action="Submit" method="post">
    <input type="text" name="productname" placeholder="Product Name (optional)" size="100"><br><br>
    <textarea id="ingredients" placeholder="Ingredients (Water, Glycerin, Citric Acid, ...)" name="ingredients" rows=10 cols=100></textarea>
    <div><button type="submit" class="btn btn-secondary btn-lg">Submit</button></div>
</form></div>
