@{
    ViewData["Title"] = "Is It CG?";
}

<div class="jumbotron">
    <h1 class="display-3">Is it CG?</h1>
<h3>Enter the ingredients of your favorite hair product to see if it is Curly Girl (CG) Approved!</h3>
<p>Separate ingredients with a comma and click submit to see the results.</p>
</div>
<div class="main"
<form asp-controller="Home" asp-action="Submit" method="post">
    <textarea id="ingredients" name="ingredients" rows=10 cols=100></textarea>
    <div><button type="submit">Submit</button></div>
</form>
</div>
<div class="footer">
    <p>Disclaimer: This web app is not affliated with any company or hair product. The information cultivated on this site is maintained by a curly girl enthusiast and if you find any discrepancies in the results, please <a href="mailto:isitcg@lisagardnerdesign.com">contact us.</a></p>
</div>
