body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
    background-image: url("/images/background-curls.png");
    background-repeat: repeat;
    color: #706f71;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

form {
    margin: 0 auto;
    border: none;
}

.main {
    display: block
    text-align: center;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 700px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Panel Styling*/
.panel {
   border-radius: 10px;
   border: none;
}

.panel-heading {
   color: #fff;
   font-family: 'Molle', cursive;
   font-size: 2em;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   line-height: 125%;
}

.panel-danger>.panel-heading {
    background-color: #ed878d;
    border-color: #ed878d;
    color: #fff;
}

.panel-warning>.panel-heading {
    background-color: #c7c2bb;
    border-color: #a5a29f;
    color: #fff;
}
.panel-success>.panel-heading {
    background-color: #a8cacd;
    border-color: #7fb1b2;
    color: #fff;
}

.panel-primary>.panel-heading {
    background-color: #706f71;
    border-color: #706f71;
    color: #fff;
}

.card-title {
    font-weight: 700;
}

/* Jumbotron Styling */
.jumbotron .h1, .jumbotron h1 {
    font-family: 'Molle', cursive;
    text-align: center;
    color: #ed878d;
}

     .jumbotron .h3, .jumbotron h3 {
    font-size: 20px;
    TEXT-ALIGN: center;
    font-weight: 700;
    }
    
    .jumbotron p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}
    .btn-primary {
    color: #706f71;
    background-color: #ccece5;
    border-color: #abdbd0;
    margin-top: 1em;
    }

 .btn-secondary {
    color: #fff;
    background-color: #ed878d;
    border-color: #d66974;
    margin: 1em auto 0;
   
    }


h4.card-title {
    font-weight: 700;
}

/* Footer Styling */

.footer {
    background-color: #bce8ea;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #58c5cb;
}

.footer p {
    font-size: 1em;
    font-style: italic;
    line-height: 150%;
}

.footer a {
    color: #ed878d;
}

.footer a:hover {
    color: #d36671;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .jumbotron .h1, .jumbotron h1 {
    font-size: 7.5em;
}

     .jumbotron .h3, .jumbotron h3 {
    font-size: 20px;
    }
    
    .jumbotron p {
    font-size: 18px;
}

}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    
        .jumbotron .h1, .jumbotron h1 {
    font-size: 4em;
}
    
}

.uppercase { text-transform: uppercase; }

.container .jumbotron, .container-fluid .jumbotron {
    border: none;
    background-color: #fff;
    border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
