body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans';
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    
    .jumbotron .h1, .jumbotron h1 {
    font-size: 100px;
    font-family: 'Molle';
    text-align: center;
    color: #ed878d;
}

     .jumbotron .h3, .jumbotron h3 {
    font-size: 20px;
    TEXT-ALIGN: center;
    color: #706f71;
    font-weight: 700;
    }
    
    .jumbotron p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
    color: #706f71;
    text-align: center;
}
    
}

.uppercase { text-transform: uppercase; }

.container .jumbotron, .container-fluid .jumbotron {
    border: 2px solid #c7c2bb;
    background-color: #fff;
}
