@{
    ViewData["Title"] = "Error";
}
<div class="titlebar">
    <h1 class="text-danger">Oops! Something went wrong</h1>
    <h1 class="text-danger">An error occurred while processing your request.</h1>
        <p>If the problem persists please contact us via the chat or the <a href="http://isitcg.lisagardnerdesign.com/contact-2/">Contact Page</a></p>
         <p> <a href="/" class="btn btn-primary btn-lg" role="button">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Start Over
        </a></p>
</div>
